.box-assine {
	background-size: cover;
	background-position: left center;
	background-repeat: no-repeat;

	.container {
		height: 400px;
	}

	.assine-ja {
		width: 100%;
		max-width: 440px;
		margin-top: 40px;
		float: right;
		text-align: center;

		p {
			display: block;
			margin: 10px 0 20px;
		}
	}
}


.box-action {
	.news, .club-model {
		background-color: #151515;
		padding: 80px 50px;
		text-align: center;
		border-radius: 5px;

		p {
			display: block;
			margin: 10px 0 20px;
		}
	}

	.news {
		form {
			position: relative;
		}
	}
}

.grid {
	&:after {
		content: '';
		display: block;
		clear: both;
	}

	.grid-sizer, .grid-item {
		width: 25%;
		padding: 10px;
		@include box-sizing;
	}

	.grid-item {
		float: left;

		img {
			display: block;
			max-width: 100%;
			width: 100%;
		}

		&.destaque {
			width: 50%;
		}
	}
}

.twitter {
	.twitter {
		margin-top: 25px;
	}

	.twitter-bg {
		padding: 0px 60px;
	}

	.item {
		padding: 20px;
		border-radius: 5px;
		border: 1px solid #ffffff;

		header {
			margin-bottom: 30px;
			position: relative;

			strong {
				display: block;
				font-size: 1rem;
				line-height: 1rem;
				color: #ffffff;
			}

			a {
				text-decoration: none;
				font-size: 1rem;
				font-weight: $light;
				color: #ffffff;

				&.ico-twitter {
					position: absolute;
					top: 0px;
					right: 0px;

					.fa {
						color: #ffffff;
						font-size: 2rem;
						font-weight: $regular;
					}
				}

				&:hover {
					color: #ffffff;
					text-decoration: none;
				}
			}
		}

		footer {
			display: block;
			width: 100%;
			margin-top: 30px;
			height: 15px;

			.fa, .date {
				color: #ffffff;
			}
			.fa {
				float: left;
				margin-right: 10px;
			}
			.date {
				float: right;
				font-size: .812rem;
				line-height: 15px;
			}
		}
	}
}


.as-mais-do-club {
	&:not(.nossas-acompanhantes){
		padding-bottom: 0px;
	}
	
	.as-mais-itens {

		&:not(.club) {
			margin-top: 50px;
		}

		.item{
			background-color: $gray;
			border-right: 1px solid $grayDark;
			position: relative;

			img.novidade {
				position: absolute; 
				top: 0px;
				right: 0px;
				width: 50%;
				max-width: 82px;
				min-width: 50px;
				z-index: 999;
			}

			span.title {
				@include transition(ease all 300ms);
				@include opacity(1);
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: 100%;
				display: block;
				background-color: $gray;
				padding: 10px 0px;
				margin: 0px;
				text-align: center;
				@include text(null, 15px, $white, 600, uppercase);
			}
			.overlay{
				@include transition(ease all 300ms);
				background-color: rgba(red($black), green($black), blue($black), .8);
				@include opacity(0);
				position: absolute;
				top: 0px;
				bottom: 0px;
				left: 0px;
				right: 0px;
				padding: 165px 0px;
				text-align: center;

				.see-more{
					display: table;
					margin: 0 auto;
					padding: 7px 9px;
					border-radius: 4px;
					background-color: $black;
					@include text(null, 14px, $white, 700, uppercase);
					text-align: center;
				}
				.title{
					@include text(null, 18px, $white, 700, uppercase);
					margin-bottom: 0px;
				}
				.local{
					@include text(null, 14px, $white, 400);
				}
				.rating{
					font-size: 24px;
					color: $white;
					padding: 10px 0px;
					display: table;
					margin: 0 auto;
					.fa{
						margin: 0px 1px;
						color: $white;
					}
				}
				.gift{
					@include bgimg(null, 'icon-gift.png');
					display: inline-block;
					width: 39px;
					height: 31px;
					margin: 0px 3px;
				}
				.add-fav{
					font-size: 31px;
					color: $pink;
					margin: 0px 3px;

					.fa {
						color: $pink;
						top: -2px;
						position: relative;
					}
				}
			}

			&:hover{
				span.title{
					@include transition(ease all 300ms);
					@include opacity(0);
					opacity: 0;
				}
				.overlay{
					@include transition(ease all 300ms);
					opacity: 1;
				}
			}

			&.menu-club {
				cursor: pointer;

				img:not(.novidade) {
					@include grayscale(100%);
					@include animacao;
				}

				.title {
					@include animacao;
				}

				&:hover {
					img {
						@include grayscale(0%);
					}
					.title {
						opacity: 1;
						background-color: $pink;
						color: #ffffff;
					}
				}
			}
		}

		&.as-mais-perfil {
			.item {
				span.title {
					background-color: $grayDark;
				}
			}
		}
	}

	&.menu-club {
		padding: 0px 60px;
	}	
}