$width: 1170px;

$padding-container: 0px;
$padding-col: 15px;
$padding-box: 40px;

$font-size: .875rem;

$cor-txt: #888c88;
$azul: #62b5e5;
$bege: #a4925f;
$bordo: #790000;
$dourado: #a4925f;
$laranja: #ea793e;
$marrom: #99552b;
$roxo: #ffffff;
$vermelho: #f4364c;
$verde-limao: #b5bd00;
$verde: #b5bd00;
$gray: #212121;
$grayLighter: #393939;
$grayDark: #151515;
$grayLight: #878B87;
$pink: #D52563;

$light: 300;
$regular: 400;
$bold: 700;

$wLogo: 270px;

$hSlide: 89vh;